<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Store - Brand</title>
    <link rel="stylesheet" href="/admin_assest/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="/admin_assest/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/admin_assest/css/aos.min.css">
    <link rel="stylesheet" href="/admin_assest/css/Bootstrap-4---Payment-Form.css">
    <link rel="stylesheet" href="/admin_assest/css/FORM.css">
    <link rel="stylesheet" href="/admin_assest/css/Login-Box-En-login-box-en.css">
    <link rel="stylesheet" href="/admin_assest/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="/admin_assest/css/Ludens---Create-Edit-Form.css">
    <link rel="stylesheet" href="/admin_assest/css/Pretty-Login-Form-.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('assets/img/bg.jpg');">
    <h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3">Konkan most favorite brand</span><span class="site-heading-lower">SindhuKonkan</span></h1>
    <div th:replace="fragment.html ::adminfragment"></div>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="text-center cta-inner rounded">
                        <h2 class="section-heading mb-5"><span class="section-heading-upper">Sinhdu Konkan</span><span class="section-heading-lower">The Organic Food Brand</span></h2>
                        <div class="d-flex flex-column justify-content-center" id="login-box">
                            <div class="login-box-header">
                                <h4 style="color: rgb(139,139,139);margin-bottom: 0px;font-weight: 400;font-size: 27px;">Login</h4>
                            </div>
                            <div class="login-box-content">
                                <div class="fb-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link" href="#"><i class="fa fa-facebook" style="margin-left: 0px;padding-right: 20px;padding-left: 22px;width: 56px;"></i>Login with Facebook</a></div>
                                <div class="gp-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link" style="margin-bottom: 10px;" href="#"><i class="fa fa-google" style="color: rgb(255,255,255);width: 56px;"></i>Login with Google+</a></div>
                            </div>
                            <div class="d-flex flex-row align-items-center login-box-seperator-container">
                                <div class="login-box-seperator"></div>
                                <div class="login-box-seperator-text">
                                    <p style="margin-bottom: 0px;padding-left: 10px;padding-right: 10px;font-weight: 400;color: rgb(201,201,201);">or</p>
                                </div>
                                <div class="login-box-seperator"></div>
                            </div>
                            <div class="email-login" style="background-color: #ffffff;"><input type="email" class="email-imput form-control" style="margin-top: 10px;" required="" placeholder="Email" minlength="6"><input type="password" class="password-input form-control" style="margin-top: 10px;" required="" placeholder="Password" minlength="6"></div>
                            <div class="submit-row" style="margin-bottom: 8px;padding-top: 0px;"><button class="btn btn-primary d-block box-shadow w-100" id="submit-id-submit" type="submit">Login</button>
                                <div class="d-flex justify-content-between">
                                    <div class="form-check form-check-inline" id="form-check-rememberMe"><input class="form-check-input" type="checkbox" id="formCheck-1" for="remember" style="cursor: pointer;" name="check"><label class="form-check-label" for="formCheck-1"><span class="label-text">Remember Me</span></label></div><a id="forgot-password-link" href="#" data-bs-target="#modal-2" data-bs-toggle="modal">Forgot Password?</a>
                                </div>
                            </div>
                            <div id="login-box-footer" style="padding: 10px 20px;padding-bottom: 23px;padding-top: 18px;">
                                <p style="margin-bottom: 0px;">Don't you have an account?<a id="register-link" href="#" data-bs-target="#modal-1" data-bs-toggle="modal">Sign Up!</a></p>
                            </div>
                        </div>
                        <ul class="list-unstyled text-start mx-auto list-hours mb-5"></ul>
                        <p class="address mb-5"><em></em></p>
                        <p class="address mb-0"><small></small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section about-heading">
        <div class="container"><img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/admin_assest/img/about.jpg">
            <div class="about-heading-content"></div>
        </div>
    </section>
    <footer class="text-center footer text-faded py-5"></footer>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Registration&nbsp;</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form data-aos="fade" class="custom-form">
                        <div class="form-group mb-3"><input class="form-control" type="email" placeholder="Official Email" required=""></div>
                        <div class="form-group mb-3"><input class="form-control" type="email" placeholder="Enter OTP" minlength="4" maxlength="4" required=""></div>
                        <div class="form-group mb-3"><input class="form-control" type="password" placeholder="Password" minlength="8" maxlength="15" required=""></div>
                        <div class="form-group mb-3"><input class="form-control" type="password" placeholder="Re-Password" required=""></div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5">Remember me</label></div><button class="btn btn-success d-block submit-button w-100" type="button">Submit Form</button>
                    </form>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Forget Password</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="custom-form">
                        <div class="form-group mb-3"><input class="form-control" type="email" placeholder="Email"></div>
                        <div class="form-group mb-3"><input class="form-control" type="email" placeholder="OTP"></div>
                        <div class="form-group mb-3"><input class="form-control" type="password" placeholder="New Password"></div>
                        <div class="form-group mb-3"><input class="form-control" type="password" placeholder="Re- Password"></div><button class="btn btn-success d-block submit-button w-100" type="button">Submit Form</button>
                    </form>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
            </div>
        </div>
    </div>
    <script src="/admin_assest/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin_assest/js/aos.min.js"></script>
    <script src="/admin_assest/js/bs-init.js"></script>
    <script src="/admin_assest/js/Bootstrap-4---Payment-Form-script.js"></script>
    <script src="/admin_assest/js/current-day.js"></script>
</body>

</html>